---
import Layout from "@/layouts/main.astro"
import { Button } from "@/components/ui/button"
import { ArrowUpRight } from "lucide-react"
import { userData } from "@/lib/user-data"
---

<Layout>
  <!-- HERO -->
  <div
    class="flex flex-col w-full p-6 pt-32 pb-48 items-center justify-start text-center gap-6"
  >
    <img
      src={userData.cdn.assets.heroDark}
      alt="Hero illustration"
      aria-label={userData.fullName}
      class="w-full max-w-4xl hidden dark:block"
    />
    <img
      src={userData.cdn.assets.heroLight}
      alt="Hero illustration"
      aria-label={userData.fullName}
      class="w-full max-w-4xl dark:hidden"
    />

    <h2 class="text-3xl font-serif max-w-xl balance">
      is a {userData.bio.split("based")[1].trim()}
    </h2>
  </div>

  <!-- MAIN GRID -->
  <div class="grid grid-cols-1 lg:grid-cols-2 w-full border-t border-border/40 items-start mb-32">

    <!-- PROJECTS -->
    <div class="flex items-center flex-col justify-center p-12 border-r border-border/40">
      <h1 class="text-7xl font-serif pb-12">Projects</h1>

      <div class="pb-6">

        <!-- Project 1 -->
        <div class="flex items-start gap-4 pb-10">
          <img
            src={userData.cdn.assets.projectImages.twin}
            alt="Image of Twin PCB"
            class="w-2/5 h-auto rounded-2xl object-cover shrink-0"
          />

          <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-serif">Twin</h2>

            <p class="text-sm text-muted-foreground">
              Ut nisi aute ipsum anim sit et nulla duis aute Lorem ad minim ad.
              Sint fugiat tempor duis.
            </p>

            <div class="flex gap-2">
              <a href="/projects/twin">
                <Button variant="default" size="sm">
                  <ArrowUpRight /> Read more
                </Button>
              </a>

              <a href={`${userData.social.github.url}/twin`} target="_blank">
                <Button variant="outline" size="sm">
                  <img src={userData.cdn.assets.githubIcon} alt="" class="size-4" />
                  Repository
                </Button>
              </a>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="flex flex-row-reverse items-start gap-4 pb-10">
          <img
            src={userData.cdn.assets.projectImages.kaze}
            alt="Image of Kaze PCB"
            class="w-2/5 h-auto rounded-2xl object-cover shrink-0"
          />

          <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-serif">Kaze</h2>

            <p class="text-sm text-muted-foreground">
              Ut nisi aute ipsum anim sit et nulla duis aute Lorem ad minim ad.
              Sint fugiat tempor duis.
            </p>

            <div class="flex gap-2">
              <a href="/projects/kaze">
                <Button variant="default" size="sm">
                  <ArrowUpRight /> Read more
                </Button>
              </a>

              <a href={`${userData.social.github.url}/kaze`} target="_blank">
                <Button variant="outline" size="sm">
                  <img src={userData.cdn.assets.githubIcon} alt="" class="size-4" />
                  Repository
                </Button>
              </a>
            </div>
          </div>
        </div>

      </div>

      <a href="/projects">
        <Button variant="outline" size="lg">
          <ArrowUpRight /> Projects Page
        </Button>
      </a>
    </div>

    <!-- BLOG -->
    <div class="flex items-center flex-col justify-center p-12">
      <h1 class="text-7xl font-serif pb-12">Blog</h1>
      <p class="text-xs text-muted-foreground text-center pt-2">
        Posts coming soon!
      </p>
    </div>

  </div>
</Layout>